*{
    margin: 10px;
    padding: 1px;
    box-sizing: border-box;

}
body{
    background: darkgray;
    font-family: arial;
   
    }
header{
    background: black;
    display: block;
    width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}
a{
    margin: auto;
    list-style: none;
    text-decoration: underline;
  
}
h1{
    color: white;
    font-size: 50px;
    float: left;
    margin-left: 10px;
}
#redes{
    float: right;
    margin: auto;
    line-height: 100px;
    text-decoration: underline;
}
#botonera {
    width: 1000px;
    text-decoration: none;
    background: red;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
#botonera ul {
    list-style: none;
    float: left;
}
#botonera li {
    display: inline-block;
}
#botonera a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    font-size: 20px;
}
#botonera a:hover {
    background: black;
    color: white;
}
main img{
    width: 1000px;
    display: block;
    border: 15px solid;
    color: white;
    margin: auto;
   
}
section{
    width: 1000px;
    overflow: hidden;
    margin: auto;
    

}
article{
    width: 650px;
    background: rosybrown;
    float: left;
    border-radius: 15px;
    padding:10px;
}

h2{
    text-align: left;
    font-size: 40px;
    color: brown;
    font-family: 'Times New Roman';
}

#art1{
float: left;

}
#art2{
    float: left;
    }


aside{
    width: 300px;
    float: right;
    padding: auto;
}
  h3{
    width: 300px;
    padding: 15px;
    font-size: 20px;
    color: white;
    background: black;
    text-align: center;
  }

p{
    text-align: justify;
    font-family: 'Times New Roman';
}
#img3{
    width: 280px;

}
footer {
    width: 980px;
    background: gray;
    margin: auto;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:  20px;
    text-align: center;
   
}
footer p{
    color: black;
    text-align: center;
    font-family:  tahoma  
}
